.cardContent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 848px;
  height: 482px;
  background-color: #ffffff;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.2),
    0 1px 2px -1px rgb(0 0 0 / 0.2);
  padding: 1rem;
  border-radius: 12px;
  box-sizing: content-box;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 150px;
  border-radius: 12px;
  box-shadow:
    0 1px 4px 0 rgb(0 0 0 / 0.2),
    0 1px 3px -1px rgb(0 0 0 / 0.2);
}

.card h2 {
  position: relative;
  font-weight: 500;
  top: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card h2 i {
  font-size: 24px;
}

.card p {
  color: #4c4a4b;
}

.c-1 {
  background: linear-gradient(to bottom, #f3be31 40%, #ffffff 40%);
}

.c-2 {
  background: linear-gradient(to bottom, #2f7bdf 40%, #ffffff 40%);
}

.c-3 {
  background: linear-gradient(to bottom, #4fc184 40%, #ffffff 40%);
}

.c-4 {
  background: linear-gradient(to bottom, #e88ca8 40%, #ffffff 40%);
}

.c-5 {
  background: linear-gradient(to bottom, #9a63d2 40%, #ffffff 40%);
}

.c-6 {
  background: linear-gradient(to bottom, #f39a19 40%, #ffffff 40%);
}

.c-7 {
  background: linear-gradient(to bottom, #36b3ab 40%, #ffffff 40%);
}

.c-8 {
  background: linear-gradient(to bottom, #f36a66 40%, #ffffff 40%);
}

.c-9 {
  background: linear-gradient(to bottom, #f35f7f 40%, #ffffff 40%);
}

.c-10 {
  background: linear-gradient(to bottom, #4fbf7a 40%, #ffffff 40%);
}

.c-11 {
  background: linear-gradient(to bottom, #337fdc 40%, #ffffff 40%);
}

.c-12 {
  background: linear-gradient(to bottom, #efbd33 40%, #ffffff 40%);
}
